<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie Details</title>
</head>
<body>

<h2 th:text="${movie.title}"></h2>
<img th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.poster_path}}" alt="Poster"/>
<p th:text="${movie.overview}"></p>
<p>Release Date: <span th:text="${movie.release_date}"></span></p>
<p>Rating: <span th:text="${movie.vote_average}"></span></p>
<form method="post" th:action="@{/favorite/add}">
    <input type="hidden" name="id" th:value="${movie.id}" />
    <input type="hidden" name="title" th:value="${movie.title}" />
    <input type="hidden" name="poster_path" th:value="${movie.poster_path}" />
    <button type="submit" class="btn btn-primary btn-sm mt-2">Add to Favorites</button>
</form>

<a href="/" class="btn btn-primary">Back to Home</a>

</body>
</html>
